.StationList {
    padding: 2rem;
    margin: 2rem;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.StationPreview {
    background: #414141;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    padding: 0px;
    width: 200px;
    height: 120px;
    margin-top: 0px;
    line-height: 150px;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
}

a,
a:visited {
    color: #F1F0CF;
    text-decoration: none;
}